@model List<KVSC.Infrastructure.DTOs.Service.PetServiceCategory>

@{
    var selectedPetTypeId = ViewData["SelectedPetTypeId"] != null ? Convert.ToInt32(ViewData["SelectedPetTypeId"]) : 0;
}
<!-- Services category Start -->
<div id="service-category-section" class="container-fluid py-5">
    <div class="container">
        <div class="border-start border-5 border-primary ps-5 mb-5" style="max-width: 600px;">
            <h6 class="text-primary text-uppercase">Services</h6>
            <h1 class="display-5 text-uppercase mb-0">Our Excellent Pet Care Services</h1>
        </div>
        <div class="row g-5">
            @foreach (var cate in Model)
            {
                <div class="col-md-6">
                    <form method="get" action="#service-list-section">
                        <!-- Form action scrolls to #service-list-section -->
                        <input type="hidden" name="SelectedPetTypeId" value="@selectedPetTypeId" />
                        <input type="hidden" name="SelectedPetServiceCategoryId" value="@cate.Id" />
                        <div class="service-item bg-light d-flex p-4" style="cursor: pointer;" onclick="this.closest('form').submit();">
                            <i class="@cate.Icon display-1 text-primary me-4"></i>
                            <div>
                                <h5 class="text-uppercase mb-3">@cate.Name</h5>
                                <p>@cate.Description</p>
                            </div>
                        </div>
                    </form>
                </div>
            }
        </div> <!-- .row -->
    </div> <!-- .container -->
</div>
<!-- Services category End -->
