<a asp-page="/User/Customer/DashBoard" class="nav-item nav-link @((Context.Request.Path == "/User/Customer/DashBoard") ? "active" : "")">
    <i class="fa fa-tachometer-alt me-2"></i>Dashboard
</a>
<a asp-page="/User/Customer/CustomerProfile" class="nav-item nav-link @((Context.Request.Path == "/User/Customer/CustomerProfile") ? "active" : "")">
    <i class="fa fa-user me-2"></i>Profile
</a>
<a asp-page="/User/Customer/Pet" class="nav-item nav-link @((Context.Request.Path == "/User/Customer/Pet") ? "active" : "")">
</a>
 <a asp-page="/User/Customer/Pet" class="nav-item nav-link @((Context.Request.Path == "/User/Customer/Pet") ? "active" : "")">
    <i class="fa fa-fish me-2"></i>Koi
</a>
<a asp-page="/User/Customer/Appointments" class="nav-item nav-link @((Context.Request.Path == "/User/Customer/Appointments") ? "active" : "")">
    <i class="fa fa-calendar me-2"></i>Appointments
</a>
@* <a asp-page="/User/Customer/Chat" class="nav-item nav-link @((Context.Request.Path == "/User/Customer/Chat") ? "active" : "")">
    <i class="fa fa-comments me-2"></i>Consultation
</a> *@
<a asp-page="/Account/Logout" class="nav-item nav-link">
    <i class="fa fa-sign-out-alt me-2"></i>Logout
</a>
